<app-header></app-header>

<div class="products-container">
    <h2>Available Medicines</h2>
    
    <div *ngIf="products.length === 0">
      No products available.
    </div>
  
    <div *ngIf="products.length > 0" class="cards-grid">
      <div *ngFor="let product of products" class="card">
        <div class="card-content">
          <h3>{{ product.name }}</h3>
          <p>{{ product.companyName }}</p>
          <!-- <p>Price: ${{ product.price }}</p>
          <p>Stock: {{ product.stock }} units</p> -->
        </div>
      </div>
    </div>
  </div>
  