.products-container {
    padding: 20px;
}

h2 {
    text-align:left;
    color: #333;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Responsive layout */
    gap: 20px;
    margin-top: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-content {
    display: flex;
    text-align: center;
}
.product-info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.product-details{
    flex: 1;
}

.product-image{
    width: 20%;
    height: 75%;
    margin-top: 0.8rem;
}
h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #483D8B;
}

p {
    margin: 5px 0;
    color: #4682B4;
}

hr{
    margin-bottom: 20px;
    margin-top: 25px;
}
