.login-container {
    max-width: 400px;
    margin: 10% auto 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.login-container h2 {
    text-align: center;
    color: #1e88e5;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button {
    width: 100%;
    background-color: #1e88e5;
    color: white;
}

button:hover {
    background-color: #1565c0;
    color: white;

}

@media (max-width: 600px) {
    .login-container {
        padding: 10px;
    }

    mat-form-field {
        font-size: 14px;
    }
}