.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #9eb8b2;
    color: white;
    height: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;      /* stay on top */
}

.logo {
    cursor: pointer;
}

.logo-image {
    height: 40px;
    width: auto;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 5px;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu button {
    color: #4682B4;
    font-size: large;
    font-weight: bold;
}