
.profile-icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-icon img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    gap: 1px;
}

mat-form-field {
    width: 100%;
}

mat-icon {
    cursor: pointer;
}


mat-label{
    color: green;
    font-weight: bold;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}




@media (max-width: 768px) {
    form {
        width: 90%;
    }
}