/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    /* width: 100vw !important; */
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-color: #d7e3ff;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #999;
}